

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing:inherit;
}
body {background: rgb(92, 163, 214);
	font-family: Verdana, sans-serif;
	font-size: 15px;
	font-weight: 300;
}

form {
	display: flex;

}

label {
	display: block;
	color: white;
	text-transform: uppercase;
	margin:30px 0 5px;
}

input{
	padding:10px;
	font-size: 18px;
}

textarea {
	height: 150px;
}

input, textarea, select {
	background: transparent;
	width: 300px;
	border: 2px solid white;
	color: white;
}

div {
	margin:10px 30px;

}

input:focus, textarea:focus {
	outline: 0;
	border:2px solid rgb(41,104,149);
}

::-webkit-input-placeholder {
	color: rgb(41,104,149);
	font-style:italic;
}
